<!DOCTYPE html>
<html>
<head>
    <title>Admin Panel</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link asp-href-include="~/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <!-- Custom fonts for this template -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" integrity="sha384-gfdkjb5BdAXd+lj+gudLWI+BXq4IuLW5IT+brZEZsLFm++aCMlF1V92rMkPaX4PP" crossorigin="anonymous">    <link href='https://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" asp-href-include="~/admin/css/styles.css" />
    <script asp-src-include="~/admin/ckeditor/ckeditor.js"></script>
    <script asp-src-include="~/vendor/jquery/jquery.min.js"></script>
    <!-- Normalize-->
    <link rel="stylesheet" asp-href-include="~/normalize.css/normalize.css" />
    <style>

        #logo {
            color: #e1c9c9 !important;
        }

            #logo:hover {
                color: #efdbdb !important;
            }

        .normalButton {
            height: 30px !important;
            width: 32px !important;
        }
    </style>
</head>
<body>
    <div class="header">
        <div class="container">
            <nav class="navbar navbar-light bg-light">
                <a class="navbar-brand" id="logo" href="#">
                    <img src="https://cdn4.iconfinder.com/data/icons/standard-free-icons/100/Setting-512.png" width="30" height="30" class="d-inline-block align-top" alt="">
                    Admin Panel
                </a>
                <div class="form-inline my-2 my-lg-0">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="color:#ffffff">
                        My Account
                    </a>
                    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="#">My Profile</a>
                        <a class="dropdown-item" asp-action="Index" asp-controller="Admin">Admin Panel</a>
                        <a class="dropdown-item" asp-action="Index" asp-controller="Home" style="color:#D92420">Exit</a>
                    </div>
                </div>
            </nav>
        </div>
    </div>
    <div class="page-content">
        <div class="row">
            <div class="col-md-2">
                <div class="sidebar content-box" style="display: block;">
                    <ul class="nav">
                        <!-- Main menu -->
                        <li><a asp-action="NewPosts" asp-controller="Admin" id="newposts"><i class="fab fa-github-alt"></i> New Posts <span id="newPostsText" style="color:#7A7A7A">[<showNotificationCount></showNotificationCount>]</span></a></li>

                        <li><a asp-action="Index" asp-controller="Admin" id="posts"><i class="fas fa-database"></i> Posts</a></li>
                        <li><a asp-action="Index" asp-controller="Users" id="users"><i class="fas fa-users"></i> Users</a></li>
                        <li><a asp-action="Index" asp-controller="Roles" id="roles"><i class="fas fa-pencil-ruler"></i>Roles </a></li>
                    </ul>
                </div>
            </div>
            @RenderBody()
        </div>
    </div>

    <script asp-src-include="~/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script asp-src-include="~/bootstrap-confirmation2/dist/*.min.js"></script>
</body>
</html>
<script>
    function changeurl(controller, action) {
        var new_url = "hhttps://localhost:44383/" + controller + "/" + action;
        window.history.pushState("data", "Title", new_url);
        $(document).ready(function () {

            $("#newposts").on("click", function (a) {
                alert("Hi");
                a.preventDefault();
                changeurl("Admin", "NewPosts");
                $("#content").load("/Admin/NewPosts");
            });
            $("#posts").on("click", function (b) {
                b.preventDefault();
                changeurl("Admin", "Index");
                $("#content").load("/Admin/GetAjaxView", { viewname: "Index" });
            });

            $("#users").on("click", function (c) {
                c.preventDefault();
                changeurl("Users", "Index");
                $("#content").load("/Users/Index");
            });
            $("#roles").on("click", function (d) {
                d.preventDefault();
                changeurl("Roles", "Index");
                $("#content").load("/Roles/Index");
            });
        });
</script>