@model  MySite.ViewModels.ChangePasswordViewModel
@{
    Layout = "_AdminLayout";
    ViewBag.Title = "Change Password";
}
<div class="col-md-10">
    <div class="row">
        <div class="col-md-6">
            <div class="content-box-large">
                <div class="panel-heading">
                    <div class="panel-title">Change the password for the user @Model.Email</div>

                </div>
                <div class="panel-body">
                    <form asp-action="ChangePassword" asp-controller="Users">
                        <div asp-validation-summary="All" class="text-danger"></div>

                        <input type="hidden" asp-for="Id" />
                        <input type="hidden" asp-for="Email" />

                        <div class="form-group">
                            <label asp-for="NewPassword" class="control-label">New password</label>
                            <input type="text" asp-for="NewPassword" class="form-control" />
                        </div>
                        <div class="form-group">
                            <input type="submit" value="Save" class="btn btn-default" />
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

