@model Post
<header class="masthead" style="background-image: url('@Url.Content("~/img/AddPost.jpg")')">
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-10 mx-auto">
                <div class="site-heading">
                    <h1>Create your post</h1>
                </div>
            </div>
        </div>
    </div>
</header>
<!-- Main Content -->
<div class="container">
    @Html.Partial("ShowEditFormForPost", Model)
</div>
<script>
    CKEDITOR.replace("Description");
    CKEDITOR.replace("Text");
</script>
