@model ProfileViewModel
<!-- Page Header -->
@Html.Partial("ShowProfilePageHeader", Model)
<!-- Main Content -->
<div class="container">
    <div class="row">
        <div class="col-sm-">
            @Html.Partial("ShowProfileNav",Model.Me)
        </div>
       <div class="col">
           <table class="table">
               <tr>
                   <td scope="col">#</td>
                   <td></td>
               </tr>
              
           </table>
       </div>

    </div>
</div>
@section Style{ 
<style>
    .subheading {
        cursor: default;
    }
</style>
}

