@model Post

@{
    //ViewBag.Title = $"Edit Post «{Model.Title}»";
    Layout = "_AdminLayout";
}

<div class="col-md-10">
    <div class="row">
        <div class="col-md-12">
            <div class="content-box-large">
                <div class="panel-heading">
                    <div class="panel-title">Post Content</div>
                    <div class="panel-options">
                    </div>

                </div>

                @Html.Partial("ShowEditFormForPost",Model)

            </div>
        </div>
    </div>
</div>

<script>
    CKEDITOR.replace("Description");
    CKEDITOR.replace("Text");
</script>
